body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    ul {
        display: flex;
    }

    a {
        text-decoration: none;
        color: black;
    }

    li {
        list-style: none;
        font-size: 0.8em;

        &:first-child {
            margin-right: 1em;
        }
    }   
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    width: 50vw;

    h1 {
        font-size: 3em;
        .red {
            color: #ea4335;
        }

        .blue {
            color: #4285f4;
        }

        .green {
            color: #34a853;
        }

        .yellow {
            color: #fbbc05;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1em;

        .container {
            margin-bottom: 2em;
            width: 50vw;
            display: flex;
            justify-content: space-between;

            label {
                max-width: 25vw;
            }

            input {
                width: 30vw;
                height: 1.5em;
                border: solid 1px #d1d1d1;
            }
        }

        .search-btn {
            background-color: #4285f4;
            border: solid 1px transparent;
            padding: 0.5em 2em;
            font-size: 0.9em;
            color: white;
            border-radius: 5px;
            justify-self: flex-end;

            &:hover {
                cursor: pointer;
                border: solid 1px rgb(37, 73, 129);
                box-shadow: inset 1px 1px 10px rgba(37, 73, 129, 0.2)
            }

            &:active {
                box-shadow: inset 3px 3px 10px rgba(37, 73, 129, 0.2)
            }

        }
    }
}